<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>

<body>
    <%- include ./topbar/topbar.html %>
    <hr>

    <% for(var i=0; i<data.userData[0].length; i++) { %>
    <form action="/sellerconfirm" method="post">
        <p>
            판매자 : <%= data.userData[0][i].name %>
        </p>
        <p>
            판매자 ID : <%= data.userData[0][i].id %>
        </p>
        <p>
            판매자 주소 : <%= data.userData[0][i].address %>
            판매자 전화 번호 : <%= data.userData[0][i].phonenumber %>
        </p>
        <p>
            판매자 지갑 주소 : <%= data.userData[0][i].wallet %>
        </p>
        <p>
            회사명 : <%= data.incData[0][i].inc_name %>
            회사 주소 : <%= data.incData[0][i].inc_address %>
            회사 정보 : <%= data.incData[0][i].inc_info %>
        </p>
        <button type="submit" value="<%= data.userData[0][i].user %>" name="id">확인</button>
    </form>
    <% } %>

</body>

</html>