<!DOCTYPE html>
<html>
    <head>
        <title>
            Index Page
        </title>
    </head>
    <body>
            <%- include ./topbar/topbar.html %>
            <!-- Login Template
            Home Banner
            Category Link
            Premium Item Link -->
            <h3>
            <% if(!data.userData) { %>
                반갑습니다.
            <% } else { %>
                <%= data.userData.userName %> 회원님 반갑습니다.
            <% } %>

            </h3>
            
        <hr>
            
    </body>
</html>


