<!DOCTYPE html>
<html>

<head>
    <title>
        MyInfo Page
    </title>
</head>

<body>

    <%- include ./topbar/topbar.html %>
    <hr>
    <p>
        내 아이디 : <%= data.userData.userID %> 
    </p>
    <p>
        내 이름 : <%= data.userData.userName %>
    </p>
    <p>
        성 별 : <% if (data.userData.userGen == 1) { %>
        male
        <% } else if (data.userData.userGen == 2) { %>
        female
        <% } %>
    </p>
    <p>
        집 주소 : <%= data.userData.userAddr %>
    </p>
    <p>
        전화번호 : <%= data.userData.userPN %>
    </p>
    <p>
        내 월렛 : <%= data.userData.userPN %>
    </p>
</body>

</html>