<!DOCTYPE html>
<html>

<head>
    <title>
        MyInfo Page
    </title>

</head>

<body>

    <%- include ./topbar/topbar.html %>
    <hr>
    <form action='/myinfo_detail' method='post'>
        <p>
            내 아이디 : <%= data.userData.userID %>
        </p>
        <p>
            내 이름 : <%= data.userData.userName %>
        </p>
        <p>
            성 별 : <% if (data.userData.userGen == 1) { %>
            male
            <% } else if (data.userData.userGen == 2) { %>
            female
            <% } %>
        </p>
        <p id='change'>
            집 주소 : <input type='text' name='userAddr' value='' placeholder="<%= data.userData.userAddr %>">
        </p>
        <p>
            전화번호 : <input type='text' name='userPN' value='' placeholder="<%= data.userData.userPN %>">
        </p>
        <p>
            내 월렛 : <%= data.userData.userWallet %>
        </p>
        <button type='submit'>변경</button>
        <!-- 변경 click 시, 재확인 alert 발생 시켜야함-->
    </form>
</body>

</html>
