<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
</head>

<body>
    <h3>Register Page</h3>
    <hr>
    <form method="post" action='/registerConfirmation'>
        <p>
            Login ID : <input type="text" name="userID" id="user">
        </p>
        <p>
            Login PW : <input type="password" name="userPW" id="pwd">
        </p>
        <p>
            Name : <input type="text" name="userName" id="name">
        </p>
        <p>
            Address : <input type="text" name="userAddr" id="addr">
        </p>
        <p>
            <input type='radio' name='userGen' value='1'>남</button>
            <input type='radio' name='userGen' value='2'>녀</button>
        </p>
        <p>
            PhoneNumber : <input type="text" name="userPN" id="phonenumber">
        </p>
        <p>
            Wallet PW : <input type="text" name="userWalletPW" id="walletpassword">
        </p>
        <p>
            <input type="submit" value="확인">
        </p>
        
    </form>
</body>

</html>