<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Company Register</title>
</head>

<body>
    <%- include ./topbar/topbar.html %>
    <div class="container1-page">
        <h3>Company Page</h3>
        <hr>
        <form method="post" action='/sellerconfirmation'>
            <p>
                판매자 : <%= data.userData.userID %>
            </p>
            <p>
                회사명 : <input type='text' name='inc_name' id='name'>
            </p>
            <p>
                회사 주소 : <input type='text' name='inc_address' id='address'>
            </p>
            <p>
                회사 정보 : <input type='text' name='inc_info' id='info'>
            </p>
            <p>
                <input type="submit" value="확인">
            </p>
        </form>
    </div>
</body>

</html>