<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Item Edit</title>
</head>

<body>
    <form method='post' action='/editconfirm'>
        <p>
            <%= data.itemData.item_img %>
        </p>
        <p>
            <input type='text' placeholder='<%= data.itemData.item_name %>' name='name' id=''>
        </p>
        <p>
            <input type='text' placeholder='<%= data.itemData.item_category %>' name='category' id=''>
        </p>
        <p>
            <input type='text' placeholder='<%= data.itemData.item_price %>' name='price' id=''>
        </p>
        <p>
            <input type='text' placeholder='<%= data.itemData.item_info %>' name='info' id=''>
        </p>
        <button type='submit'>변경</button>
    </form>
</body>

</html>