<!DOCTYPE html>
<html>

<head>
    <title>
        Item List
    </title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript"></script>
</head>

<body>
    <h3>Item List</h3>
    <hr>
    <form>
        <select name='category' onchange='categorySelected(this.value)'>
            <% for(var i=0; i<data.cateData.length; i++) { %>
            <option value='<%= data.cateData[i].content %>'><%= data.cateData[i].content %></option>
            <% } %>

        </select>


        <% for(var i=0; i<data.itemData.length; i++) { %>
        <% var dataString = JSON.stringify(data.itemData[i]); %>
        <p>
            <button onclick='selectItem(`<%= dataString %>`)'>
                판매자 : <%= data.itemData[i].user %>
                상품명: <%= data.itemData[i].item_name %>
                상품 가격: <%= data.itemData[i].item_price %>
            </button>
        </p>
        <% } %>
    </form>
    <script>
        async function categorySelected(data) {
            console.log(data);
            const response = await fetch(`http://localhost:3000/shop_sub`, {
                method: 'POST',
                headers: {
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({data})
            });
            
        }

        async function selectItem(data) {
            const response = await fetch('http://localhost:3000/item_detail', {
                method: 'POST',
                headers: {
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({ data })
            });

            console.log('response', response);
            return response;
        }
    </script>
</body>

</html>