<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
    <style>
        #topbar {
            background-color: #d3e682;
            padding: 10px;
            border: 0;
            margin: 0;
        }
    </style>
</head>
<body>
        <!-- Login Template
            Home Banner
            Category Link
            Premium Item Link -->
            <div id='topbar'>
            <a href='/'><img src='media/home.jpg' width="45px" height="45px"></a>
            <a href='/shop'><img src='media/shop.png' width="40px" height="40px"></a>
            <% if (!data.userData) { %>
            <a href='/login'>LOGIN</a>
            <a href='/register'>REGISTER</a>
            <% } else { %>
                <% if(data.userData.userDN == 1) { %>
                    <a href='/buytoken'>BuyToken</a>
                    <a href='/itemup'>ITEMUP</a>
                    <a href='/myinfo'>MYINFO</a>
                    <a href='/logout'>LOGOUT</a>
                <% } else if (data.userData.userDN == 2) { %>
                    <a href='/tokenconfirm'>Token Confirmation</a>
                    <a href='/sellerconfirm'>Seller Confirmation</a>
                    <a href='/myinfo'>MYINFO</a>
                    <a href='/logout'>LOGOUT</a>
                <% } else { %>
                    <a href='/buytoken'>BuyToken</a>
                    <a href='/myinfo'>MYINFO</a>
                    <a href='/logout'>LOGOUT</a>
                <% } %>
            
            <% } %>
        </div>
</body>
</html>